.card-wrapper{
    position: relative;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}

.card{
    width: 100%;
    height: 130px;  /*= tamanho heigth dos cards =*/
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
    position: relative;
}

.card-task{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index:2;
    background: linear-gradient(180deg, #BF4226 0%, #AD2D10 100%);
    transition: 6s;

    padding: 10px; /*= tamanho width dos cards =*/

}

.card:hover{    /*= animaçao que sobe o card =*/
        transform: translateY( -1.5px );
        transition: all .2s;
}