.controls-container button{
    background-color: #731E0B;
    color: #E5E5E5;

    margin-top: 5px;
    margin-right: 5px;
    border: none;
    padding: 4px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15%;
}

