.controls-container button{
    background: linear-gradient(180deg, #BF4226 100%, #AD2D10 100%);
    opacity: 1;
    color: #E5E5E5;

    margin-top: 0;
    margin-right: 5px;
    border: none;
    padding: 3px;
    font-size: 1.3rem;
    font-weight: 600;
    cursor: pointer;
    border-radius: 15%;
}

button:hover{
    opacity: 0.6;
}

